//COLORS
//--------------------------------------------------------
// Base
$color-base: #94070a;
$color-hover: #c50208;
//Primary
$light-blue: #32bda5;
//Danger
$red: #dd4b39;
//Success
$green: #31a67c;
//Info
$aqua: #00c0ef;
//Warning
$yellow: #f39c12;
$blue: #0073b7;
$navy: #001F3F;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #00a157;
$orange: #f4a141;
$fuchsia: #F012BE;
$purple: #605ca8;
$maroon: #D81B60;
$black: #111;
$gray-lte: #d2d6de;
$white: #ffffff;

//LAYOUT
//--------------------------------------------------------

//Header
$height-header: 50px;
$body-bg: #ffffff;

